QMainWindow{
    background: url(img/background.jpg)
}

QLabel#frame_dial{
    background:transparent;
}

QLabel#dial{
    background:transparent;
}

QSlider#slide-zone{
    background: transparent;
}

QSlider#slide-zone::groove:horizontal{
    background:transparent;
}

QProgressBar{
    border: 2px solid #5f085f;
    border-radius: 15px;
}

QProgressBar::chunk{
    width: 15px;
    height: 10px;
    border-radius: 6px;
    margin: 0.5px;
    margin-right: 2px;
    margin-left: 4px;
}

QLabel#win-l{
    color: white;
    font-family: Bebas Neue;
    font-size: 25px;
    letter-spacing: 2px;
}
QDialog{
    background-image: url("img/win-bg.png");
}

QPushButton#R-button{
    background-color:#127012;
    color:white;
    font-family: Bebas Neue;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius:10px;
}

QPushButton#R-button:hover{
    background-color:#1a9a1a;
    color:antiquewhite;
    border: 1px solid greenyellow;
}

QPushButton#E-button{
    background-color:#731a1a;
    color:white;
    font-family:Bebas Neue;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 10px;
}

QPushButton#E-button:hover{
    background-color:#962222;
    color:antiquewhite;
    border: 1px solid #d52b2b;
}
